/* inter-regular - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('../fonts/inter-v12-latin-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('../fonts/inter-v12-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* inter-700 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: local(''), url('../fonts/inter-v12-latin-700.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('../fonts/inter-v12-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* inika-regular - latin */
@font-face {
  font-family: 'Inika';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('../fonts/inika-v21-latin-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('../fonts/inika-v21-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* inika-700 - latin */
@font-face {
  font-family: 'Inika';
  font-style: normal;
  font-weight: 700;
  src: local(''), url('../fonts/inika-v21-latin-700.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('../fonts/inika-v21-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.body {
  font-family: 'Inter';
  font-style: normal;
  font-size: 16px;
  line-height: 1.2;
  font-weight: normal;
  color: #636060;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

/* Header styles start*/
.header-wrapper {
  background-color: #edf2ec;
  margin: auto 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}
.header__logo {
  display: inline-block;
  margin-left: 2px;
}
.header__logo__text {
  color: #000000;
  display: inline-block;
  font: 700 16px 'Inika';
  margin-left: -4px;
}
.header__nav {
  display: inline-block;
  vertical-align: middle;
}
.navbar-menu {
  list-style-type: none;
  display: inline-block;
  color: black;
}
a {
  color: black;
  font: 400 16px 'Inika', sans-serif;
  line-height: 50px;
}
.first-navbar-item {
  display: inline-block;
  color: black;
  vertical-align: middle;
  margin-left: 16px;
}
.next-navbar-item {
  color: black;
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 0 42.9px;
}
.changecolor:hover {
  color: #e06733;
  font: 700 16px 'Inika', sans-serif;
  cursor: pointer;
}
.changecolor2:hover {
  color: #e06733;
  font-weight: 700;
  cursor: pointer;
}
.orange-color {
  color: #e06733;
}
.header {
  background-color: #edf2ec;
  justify-content: space-between;
}
.content-header-wrapper {
  width: 1222px;
  margin: 0 auto;
  height: 133px;
  padding-top: 33px;
  box-sizing: border-box;
}
.space {
  display: inline-block;
  width: 678px;
}
/* Header styles end */

/* Welcome styles start */
.welcome {
  height: 533px;
  background-color: #edf2ec;
}
.content-welcome {
  width: 1222px;
  height: 533px;
  margin: 0 auto;
  text-align: justify;
  padding-top: 2px;
}
.leafs {
  background-color: #edf2ec;
  display: inline-block;
  margin-left: -7px;
  margin-right: 50px;
  margin-top: 53px;
}
.welcome-text {
  width: 537px;
  display: inline-block;
  margin-top: 98px;
  vertical-align: top;
  margin-left: 161px;
  padding-right: 10px;
  padding-left: 5px;
}
h1 {
  color: #717171;
  font: 700 45px 'Inter', sans-serif;
  line-height: 50px;
}
.welcometext {
  color: #636060;
  font: 400 20px 'Inter', sans-serif;
  line-height: 35px;
  text-align: left;
  margin-top: 44px;
}
.green {
  color: #499a18;
}
.button {
  margin-top: 47px;
  width: 158px;
  height: 44px;
  font: 400 16px 'Inter', sans-serif;
  line-height: 20px;
  border: 2px solid #e06733;
  border-radius: 10px;
}
/* Welcome styles end */

/* About styles start */
.about {
  height: 572px;
  background-color: white;
}
.about-content {
  width: 1222px;
  height: 479px;
  margin: 0 auto;
  margin-top: 94px;
  padding-left: 4px;
}
.left-content {
  display: inline-block;
  vertical-align: top;
  margin-top: 67px;
}
h2 {
  width: 463px;
  height: 102px;
  font: 400 40px 'Inika', sans-serif;
  line-height: 52px;
  color: #499a18;
}
.orange {
  color: #e06733;
}
p.about-text {
  margin-top: 40px;
  width: 605px;
  height: 208px;
  font: 400 20px 'Inter', sans-serif;
  line-height: 30px;
  color: #636060;
}
.houseplant {
  margin-left: 149px;
  margin-top: -1px;
}
/* About styles end */

/* Service styles start */
.service {
  height: 1261px;
  background-color: #edf2ec;
  padding-top: 39px;
}
.service-content {
  width: 1222px;
  height: 1250px;
  margin: 0 auto;
}
.service-top {
  width: 1020px;
  height: 94px;
}
.service-p {
  display: inline-block;
  font: 400 40px 'Inika', sans-serif;
  line-height: 52px;
  width: 306px;
  height: 94px;
  color: #499a18;
  margin-top: 1px;
}
.btn-service,
.btn-service-first {
  vertical-align: top;
  margin-top: 31px;
  margin-left: 34px;
  width: 161px;
  height: 50px;
  font: 400 20px 'Inika';
  line-height: 26px;
  color: #e06733;
  border: 1px solid #e06733;
  border-radius: 5px;
}
.btn-service-first {
  margin-left: 139px;
  padding-right: 3px;
  box-sizing: border-box;
}
.button:hover,
.btn-service:hover,
.btn-service-first:hover,
.contact-us-button:hover {
  background-color: #e06733;
  color: white;
  cursor: pointer;
}
.service-subsection1 {
  margin-top: 90px;
  display: flex;
  justify-content: space-between;
}
.service-subsection2 {
  margin-top: 56px;
  display: flex;
  justify-content: space-between;
}
.item-1,
.item-2,
.item-3,
.item-4,
.item-5,
.item-6 {
  width: 330px;
  height: 450px;
  background-color: #edf2ec;
  border: 1px solid #e3e1d5;
  border-radius: 20px;
  padding: 0px;
  box-sizing: border-box;
}
.service-image {
  margin-left: -1px;
}
.p1 {
  font: 700 20px 'Inter', sans-serif;
  line-height: 20px;
  color: #e06733;
  text-align: center;
  margin-top: 6px;
}
.p2 {
  font: 400 16px 'Inter', sans-serif;
  line-height: 20px;
  color: #717171;
  text-align: center;
  margin-top: 14px;
}
/* Service styles end */

/* Prices styles start */
.prices {
  height: 520px;
  background-color: #ffffff;
}
.prices-wrapper {
  box-sizing: border-box;
  width: 1222px;
  height: 405px;
  margin: 0 auto;
  margin-top: 38px;
  display: flex;
  justify-content: space-between;
}
.price-block {
  width: 332px;
  height: 391px;
  display: inline-block;
  vertical-align: top;
}
.price-text {
  font: 700 40px 'Inter', sans-serif;
  line-height: 48px;
  color: #000000;
  margin-bottom: 6px;
  margin-left: 1px;
}

.prices-plans {
  width: 332px;
  height: 280px;
  border: 1px solid #e3e1d5;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.price-basics,
.price-standard,
.price-pro-care {
  width: 250px;
  height: 50px;
  background-color: #edf2ec;
  border-radius: 20px;
}
.price-basics:hover,
.price-standard:hover,
.price-pro-care:hover {
  background-color: #e06733;
  cursor: pointer;
  color: white;
}
.price-plan {
  width: 100px;
  height: 18px;
  margin-top: 16px;
  margin-left: 40px;
  margin-right: 50px;
  font: 700 20px 'Inter';
  line-height: 20px;
  display: inline-block;
}
.accordion-img {
  display: inline-block;
  align-items: end;
  margin-top: 17px;
}
.best-gardeners-block {
  width: 452px;
  vertical-align: top;
}
.contact-us-text {
  font: 700 40px 'Inter', sans-serif;
  line-height: 50px;
  text-align: right;
  color: #000000;
  margin-top: 1px;
}
.contact-us-button {
  float: right;
  margin-top: 40px;
  border: 1px solid #e06733;
  width: 162px;
  height: 50px;
  border-radius: 5px;
  font: 700 20px 'Inika';
  color: #e06733;
  line-height: 26px;
  background-color: white;
}
.small-leafs {
  display: inline-block;
  margin-top: 36px;
  margin-left: 300px;
  width: 160px;
  height: 184px;
}
/* Prices styles end */

/* Contact-us styles start */

.contact-us-section {
  height: 550px;
  background-color: #edf2ec;
}
.contact-us-wrapper {
  margin-top: 53px;
  width: 1222px;
  height: 500px;
  margin: 0 auto;
}
.image-contact {
  margin-top: 53px;
  margin-right: 110px;
  width: 400px;
  height: 497px;
  margin-left: 1px;
}
.contact-us-maintext {
  color: #499a18;
  font: 700 40px 'Inika';
  line-height: 52px;
  display: inline-block;
  vertical-align: top;
  margin-top: 60px;
}
.contact-us-maintext h2 {
  font-weight: 700;
  width: 200px;
}
.city-button {
  display: inline-block;
  width: 449px;
  height: 50px;
  background-color: #d6e7d2;
  vertical-align: top;
  margin-top: 148px;
  margin-left: 54px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  color: #717171;
}

.city-button p {
  font: 400 20px 'Inter';
  line-height: 40px;
  margin-right: 170px;
  margin-left: 20px;
  display: inline-block;
  width: 204px;
  letter-spacing: 1px;
}
.city-button:hover {
  background-color: #e06733;
  color: white;
  cursor: pointer;
}
.image-city {
  margin-top: 17px;
}
/* Contact-us styles end */

/* Foooter styles start */
.footer {
  height: 130px;
  background-color: white;
}
.footer-wrapper {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1222px;
  height: 130px;
}
.left-block,
.middle-block {
  height: 50px;
  align-items: center;
  font: 400 20px 'Inter';
  line-height: 50px;
}
.github-ref {
  font: 400 20px 'Inter';
  line-height: 50px;
}
.middle-block {
  padding-left: 18px;
}
.rs {
  font: 400 20px 'Inter';
  line-height: 50px;
}
.left-block {
  width: 170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.right-block {
  width: 188px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* Foooter styles end */
